:root {
    --surface-background: #171023;
    --nav-bar: #221a30;
    --surface-primary: #2c243b;
    --surface-secondary: #413a4f;
    --surface-tertiary: #4e4563;
    --text-primary: #f5f6f6;
    --text-secondary: #cdd0d4;
    --text-tertiary: #7dffaf;
    --btn-color: #8a42db;
    --gradient: linear-gradient(90deg, #9955E8 0%, #7BFFAF 100%);

    --nav-height: 4rem
}

body, .wrapper, .home, .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    width: 100vw;
    height: fit-content;
    background: var(--surface-background);
    color: var(--text-primary);
    font-family: "heebo", cursive;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: var(--nav-bar);
}

.wrapper {
    width: 36rem;
    overflow: hidden;
}

h2 {
    font-family: "Heebo", cursive;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

p {
    font-family: "Heebo", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

section {
    padding-block: 4.8rem;
}

button a {
    background-color: var(--btn-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem;
    border-radius: 7px;
    gap: 0.4rem;
    cursor: pointer;
}

.nav__bar .wrapper {
    flex-direction: row;
    justify-content: space-between;
}

.curriculo-btn a {
    background-color: var(--surface-secondary);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
}

/*=== Nav ===*/

.logo {
    font-family: "kalam", cursive;
    font-size: 2.5rem;
    font-weight: 300;
}

.logo b {
    font-weight: 700;
}

.nav__bar {
    background-color: var(--nav-bar);
    display: flex;
    justify-content: space-between;
    width: 36rem;
    flex-direction: row;
    position: relative;
    z-index: 1000;
    
}

.nav__bar .wrapper{
    position: relative;
    z-index: 1000;
    background: var(--nav-bar);
    padding: 1.6rem;
}

.nav__list-links {
    visibility: hidden;
    position: absolute;
    top: -500%;
    right: -5%;
    transition: top 0.5s ease;
    background: var(--nav-bar);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 32rem;
    gap: 2.4rem;
    padding: 2rem 1.6rem;
    margin-top:var(--nav-height);
    z-index: -100;
}

body.menu-expanded .nav__list-links {
    top: 20%;
    visibility: visible;
}

/*
comentado até a funcionalidade de troca de cor ser finalizada
.nav__list-links::after {
    display: block;
    height: 1px;
    width: 100%;
    content: "";
    background: var(--line);
}
*/

.nav__link {
    padding: 0.8rem;
}

.nav__open-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

body.menu-expanded .nav__open-menu-btn {
    display: none;
}

.nav__close-menu-btn {
    display: none;
}

body.menu-expanded .nav__close-menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}

/*=== Home ===*/

.home {
    width: 100%;
    gap: 2.4rem;
}

.home__img {
    width: 100%;
}

.content-wrapper h1 {
    font-family: "kalam", cursive;
    font-size: 4rem;
    line-height: 5.6rem;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.btn-wrapper {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;
}

/*=== About ===*/

.about {
    background: var(--surface-primary);
    width: 100%;
}

.about__img {
    width: 30rem;
}

.about__icon-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    margin-block: 3rem;
}

.about-icon {
    width: 3rem;
}

.about .content-wrapper p:first-child {
    font-family: "kalam", cursive;
    color: var(--text-tertiary);
}

